<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>OUSL | Login Portal</title>
  </head>
  <body>
    <div class="login-container">
      <form method="POST" action="/">
        <div class="login-box">
          <div class="logo-div">
            <img
              src="{{ url_for('static', filename='css/logo.png') }}"
              alt="Logo"
              class="logo"
            />
          </div>
          <div class="login-header">
            <header>Sign in to your account</header>
          </div>
          <div class="input-box">
            <input
              type="text"
              name="username"
              class="input-field"
              placeholder="Username or Email"
              autocomplete="off"
              required
            />
          </div>
          <div class="input-box">
            <input
              type="password"
              name="password"
              class="input-field"
              placeholder="Password"
              autocomplete="off"
              required
            />
          </div>
          <div class="forgot">
            <section>
              <input type="checkbox" id="check" />
              <label for="check">Remember me</label>
            </section>
            <section>
              <a href="#">Forgot password</a>
            </section>
          </div>
          <div class="input-submit">
            <button type="submit" class="submit-btn" id="submit"></button>
            <label for="submit">Sign In</label>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
